[popular-names.txt](https://nlp100.github.io/data/popular-names.txt)は，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，[popular-names.txt](https://nlp100.github.io/data/popular-names.txt)を入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

# 10. 行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ．

In [2]:
with open("popular-names.txt", "r") as f:
    lines = f.readlines()
    count = len(lines)
    print(count)

2780

In [3]:
!wc -l "popular-names.txt"

2780 popular-names.txt

# 11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [4]:
with open("popular-names.txt", "r") as f:
    lines = f.readlines()

for line in lines[:10]:
    print(line.replace("\t", " "), end="")

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [5]:
!cat "popular-names.txt" | sed 's/\t/ /g' | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
sed: couldn't write 22 items to stdout: Broken pipe

In [6]:
!cat "popular-names.txt" | tr "\t" " " | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
tr: write error: Broken pipe
tr: write error

In [7]:
!cat "popular-names.txt" | expand -t 1  | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
expand: write error: Broken pipe
expand: write error

# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [8]:
with open("popular-names.txt", "r") as f, open("col1.txt", "w") as fc1, open("col2.txt", "w") as fc2:
    lines = f.readlines()
    count = len(lines)
    for i, line in enumerate(lines):
      name, sex, number, year = line.split('\t')
      if count == i+1:
        fc1.write(name)
        fc2.write(sex)
      else:
        fc1.write(name + '\n')
        fc2.write(sex + '\n')

In [9]:
!head -n 10 "col1.txt"

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [10]:
!head -n 10 "col2.txt"

F
F
F
F
F
F
F
F
F
F

In [11]:
# 1列目
!cut -f 1 popular-names.txt | head -n 10

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah
cut: write error: Broken pipe

In [12]:
# 2列目
!cut -f 2 popular-names.txt | head -n 10

F
F
F
F
F
F
F
F
F
F

# 13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [13]:
with open("col1.txt","r") as fc1, open("col2.txt","r") as fc2, open("col1_col2.txt","w") as f:
    lines1 = fc1.readlines()
    lines2 = fc2.readlines()
    count = len(lines1)
    for i, (name, sex) in enumerate(zip(lines1, lines2)):
      if count == i+1:
        f.write(name.rstrip() + '\t' + sex.rstrip())
      else:
        f.write(name.rstrip() + '\t' + sex.rstrip() + '\n')

In [14]:
!head -n 10 "col1_col2.txt"

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

In [15]:
!paste "col1.txt" "col2.txt" | head -n 10

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F
paste: write error: Broken pipe

# 14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [17]:
with open("popular-names.txt", "r") as f:
    N = int(input())
    lines = f.readlines()
    for i in range(N):
        lines[i] = lines[i].replace('\n', '')
        print(lines[i])

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [18]:
!head -n 5 "popular-names.txt"

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

# 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [19]:
with open("popular-names.txt", "r") as f:
    N = int(input())
    lines = f.readlines()
    for i in range(len(lines)-N, len(lines)):
        lines[i] = lines[i].replace('\n', '')
        print(lines[i])

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [20]:
!tail -n 5 "popular-names.txt"

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

# 16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [21]:
def split_file(file_path, n):
    with open(file_path, 'r') as f:
        lines = f.readlines()
        total_lines = len(lines)
        lines_per_file = total_lines // n  # 各ファイルの行数
        remainder = total_lines % n  # 余り

    start = 0
    for i in range(n):
        if i < remainder:
            end = start + lines_per_file + 1
        else:
            end = start + lines_per_file
        part_lines = lines[start:end]

        # 出力ファイルに書き込む
        output_file = f"part_{i+1}.txt"
        with open(output_file, 'w') as fc1:
            fc1.writelines(part_lines)

        start = end
       
        
N=int(input())
split_file("popular-names.txt",N)

In [22]:
!wc -l "part_1.txt"
!wc -l "part_2.txt"
!wc -l "part_3.txt"

927 part_1.txt
927 part_2.txt
926 part_3.txt

In [24]:
import numpy as np
with open("popular-names.txt", "r") as f:
    N = int(input())
    lines = f.readlines()
    count = len(lines)
    num_list = range(count)
    div_list = np.array_split(num_list, N)
    for i, div in enumerate(div_list, 1):
        f = open(f"{str(i).zfill(3)}.txt", 'w')
        for j in div:
            f.write(lines[j])
        f.close()

In [25]:
!wc -l "001.txt"
!wc -l "002.txt"
!wc -l "003.txt"

927 001.txt
927 002.txt
926 003.txt

In [26]:
!split -n r/3 -d --numeric-suffixes=1 --additional-suffix=.txt "popular-names.txt" "UNIX-"

In [27]:
!wc -l "UNIX-01.txt"
!wc -l "UNIX-02.txt"
!wc -l "UNIX-03.txt"

927 UNIX-01.txt
927 UNIX-02.txt
926 UNIX-03.txt

# 17. １列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [28]:
with open("popular-names.txt","r") as f:
    lines = f.readlines()
    name=set()
    for line in lines:
        name.add(line.split()[0])
    
    name=sorted(name)
    for i in range(10):
        print(name[i])

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

In [29]:
import pandas as pd

df = pd.read_csv('popular-names.txt', sep='\t', header=None)
ans = df[0].unique()
ans.sort()
for i in range(10):
    print(ans[i])

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

In [30]:
!cut -f 1  "popular-names.txt" | sort | uniq | head -n 10

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

# 18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [31]:
import pandas as pd

df = pd.read_csv('popular-names.txt', sep='\t', header=None)
ans = df.sort_values(by=2,ascending=False)
print(ans.head(10))

            0  1      2     3
1340    Linda  F  99689  1947
1360    Linda  F  96211  1948
1350    James  M  94757  1947
1550  Michael  M  92704  1957
1351   Robert  M  91640  1947
1380    Linda  F  91016  1949
1530  Michael  M  90656  1956
1570  Michael  M  90517  1958
1370    James  M  88584  1948
1490  Michael  M  88528  1954

In [32]:
!sort -nrk 3 "popular-names.txt" | head -n 10

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954
sort: write failed: 'standard output': Broken pipe
sort: write error

# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [33]:
import pandas as pd

df = pd.read_csv('popular-names.txt', sep='\t', header=None)
ans = df[0].value_counts()
print(ans.head(10))

0
James        118
William      111
Robert       108
John         108
Mary          92
Charles       75
Michael       74
Elizabeth     73
Joseph        70
Margaret      60
Name: count, dtype: int64

In [34]:
!cut -f 1 "popular-names.txt" | sort | uniq -c | sort -nr | head -n 10

    118 James
    111 William
    108 Robert
    108 John
     92 Mary
     75 Charles
     74 Michael
     73 Elizabeth
     70 Joseph
     60 Margaret